.first{
    width: 50%;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.7);
    border-radius: 15px;
    padding: 10px 20px;
}

@media(max-width:768px){
    .first{
        display: none;
    }
}